<div id="tid-bar">
  <a class="button" routerLink="/login" i18n="Top-bar button to the login page@@app.loginNav">Sign in</a>
</div>
<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>
<div class="content">
  <div i18n="Presentation of the Eternal-Twin project@@home.presentation">
    <p>
      On March 27th 2020, Motion-Twin published <a
      href="https://twinoid.com/fr/article-fr/6437/twinoid-et-les-jeux-web-de-motion-twin-evoluent">a message</a> on its
      platform Twinoid about the end of Flash by the end of 2020. Their games will be gradually closed based on how the
      player-base dwindles.
    </p>
    <p>
      Faced with the situation, a few players decided to start a project to save those games: the project Eternal-Twin.
      Their goal is to keep the corresponding online communities alive and avoid losing this part of video-gaming history.
    </p>
    <p>
      This project is lead by MrPapy and Demurgos. Anyone is free to join and help.
    </p>
    <p>
      Useful links:
    </p>
    <ul>
      <li><a href="https://discord.gg/ERc3svy">Eternal-Twin Discord server</a>: Main communication channel</li>
      <li><a href="https://wiki.eternalfest.net/">Eternal Twinpedia</a>: Wiki for the Motion-Twin games</li>
      <li><a href="https://gitlab.com/eternal-twin">Eternal-Twin Gitlab organization</a>: All our source-code</li>
    </ul>
  </div>
  <iframe src="https://discordapp.com/widget?id=693082011484684348&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
<footer>
  <div class="languages">
    <a lang="de-DE" href="?l=de">Deutsch</a> -
    <a lang="en-US" href="?l=en">English</a> -
    <a lang="eo" href="?l=eo">Esperanto</a> -
    <a lang="es-SP" href="?l=es">Español</a> -
    <a lang="fr-FR" href="?l=fr">Français</a>
  </div>
</footer>
