$contentWidth: 400px;
$spacing: 1em;

.content, footer {
  width: $contentWidth;
}

label, input {
  display: block;
}

label {
  margin: $spacing 0;
}

@mixin field() {
  height: 2.5rem;
  padding: 0.5rem;
  background: #101010;
  border: 1px solid darken(#d0d0d0, 25%);
  border-radius: 0.25rem;
  color: #d0d0d0;

  &:focus {
    border-color: #d0d0d0;
  }
}

@mixin button() {
  min-height: 2.5rem;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid darken(#d0d0d0, 25%);
  border-radius: 0.25rem;
  color: #d0d0d0;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #d0d0d0;
  }
}

@mixin primary-button() {
  @include button();
  $submitBgColor: #102010;
  $submitBorderColor: lighten($submitBgColor, 10%);

  background-color: $submitBgColor;
  border-color: $submitBorderColor;

  &:hover, &:focus {
    background-color: lighten($submitBgColor, 3%);
    border-color: lighten($submitBorderColor, 3%);
  }
}

input {
  width: 100%;
  height: 2.5em;
  margin-top: 0.3em;
  padding: 0.5em;

  &[type=text], &[type=password] {
    @include field()
  }

  &[type=submit] {
    @include primary-button()
  }
}

.login_methods a {
  @include button();
  display: flex;
  align-items: center;

  & + a {
    margin-top: $spacing;
  }
}

img {
  height: 1.2rem;
  margin-right: 0.6rem;
}

.active_method {
  height: 1rem;
  display: flex;
  align-items: center;
}
